.center {
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (min-width: 52em) {
  .center {
    max-width: 52rem;
  }
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 15%);
}

.menu ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.menu ul li a:hover {
  background: hsl(0, 0%, 45%);
}

@media screen and (min-width: 30rem) {
  .single-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .single-nav ul li {
    flex: 1 0 auto;
    text-align: center;
  }
}
